<nav id="nav_main">    

<div class="menu"><a href="/" class="link">Home</a></div>
<div class="menu"><a href="/about" class="link">Reviews</a></div>
<div class="menu"><a href="/contact" class="link">Contact</a></div> 
<i id="burger" class="fa fa-bars"></i>
</nav>


 <nav id="nav_mobile" class="is-hidden">
            <div class="menu-mobile"><a href="/" class="link">Home</a></div>
            <div class="menu-mobile"><a href="/about" class="link">Reviews</a></div>
            <div class="menu-mobile"><a href="/contact" class="link">Contact</a></div>
        </nav>
